name: Tests

on: [push, workflow_dispatch, pull_request]

env:
  KIND_VERSION: "v0.29.0"
  BATS_VERSION: "1.12.0"
  NODE_VERSION: "24.2.0"
  TARBALL_FILE: openbao-csi-provider.docker.tar

jobs:
  go-checks:
    uses: hashicorp/vault-workflows-common/.github/workflows/go-checks.yaml@main
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: .go-version

      - name: Install tools
        run: make bootstrap

      - name: Lint
        run: make lint GOLANGCI_LINT_FORMAT=github-actions

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: .go-version

      - name: Build
        run: |
          make e2e-image
          docker save --output "${TARBALL_FILE}" e2e/openbao-csi-provider:latest

      - name: Test
        run: make test

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: openbao-csi-provider-image
          path: ${{ env.TARBALL_FILE }}

  integration-test:
    needs:
      - lint
      - test
    strategy:
      fail-fast: false
      matrix:
        kind-k8s-version: [1.31.9, 1.32.5, 1.33.1]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: npm install -g bats@${{ env.BATS_VERSION }}
        shell: bash
      - run: bats -v
        shell: bash

      - name: Create Kind Cluster
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1.12.0
        with:
          cluster_name: kind
          config: test/bats/configs/kind/config.yaml
          node_image: kindest/node:v${{ matrix.kind-k8s-version }}
          version: ${{ env.KIND_VERSION }}

      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: openbao-csi-provider-image

      - name: Load openbao-csi-provider dev image
        run: docker image load --input ${{ env.TARBALL_FILE }}

      - name: bats tests
        timeout-minutes: 15
        run: DISPLAY_SETUP_TEARDOWN_LOGS=true make e2e-setup e2e-test e2e-teardown
