name: Tests

on: [push, workflow_dispatch, pull_request]

env:
  KIND_VERSION: "v0.29.0"
  BATS_VERSION: "1.12.0"
  NODE_VERSION: "24.2.0"
  TARBALL_FILE: openbao-csi-provider.docker.tar

jobs:
  go-checks:
    uses: hashicorp/vault-workflows-common/.github/workflows/go-checks.yaml@main
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: .go-version

      - name: Install tools
        run: make bootstrap

      - name: Lint
        run: make lint GOLANGCI_LINT_FORMAT=github-actions

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: .go-version

      - name: Build
        run: |
          make e2e-image
          docker save --output "${TARBALL_FILE}" e2e/openbao-csi-provider:latest

      - name: Test
        run: make test

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: openbao-csi-provider-image
          path: ${{ env.TARBALL_FILE }}

  integration-test:
    needs:
      - lint
      - test
    strategy:
      fail-fast: false
      matrix:
        kind-k8s-version: [1.33.7, 1.34.3, 1.35.0]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: npm install -g bats@${{ env.BATS_VERSION }}
        shell: bash
      - run: bats -v
        shell: bash

      - name: Create Kind Cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          cluster_name: kind
          config: test/bats/configs/kind/config.yaml
          node_image: kindest/node:v${{ matrix.kind-k8s-version }}
          version: ${{ env.KIND_VERSION }}

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: openbao-csi-provider-image

      - name: Load openbao-csi-provider dev image
        run: docker image load --input ${{ env.TARBALL_FILE }}

      - name: bats tests
        timeout-minutes: 15
        run: DISPLAY_SETUP_TEARDOWN_LOGS=true make e2e-setup e2e-test e2e-teardown
